.container{
    position: relative;
    top:50px;
  }
  .table-container {
    max-height: calc(100vh - 220px); /* Adjust based on the height of other elements */
    overflow-y: auto;
    border: 1px solid #ddd;
  }
  .pagination::ng-deep .ngx-pagination .current {
    background: brown;
    margin-bottom: 100px;
  }