.terms-container {
  padding: 20px;
  margin-top: 100px;
  
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.terms-container h1, .terms-container h2 {
  color: #333;
}

.terms-container p {
  color: #555;
  margin-bottom: 1em;
}
