.service-details-container {
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-title {
    font-size: 24px;
    color: #3f51b5;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .service-info p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .subservice-title {
    font-size: 20px;
    color: #3f51b5;
    margin-top: 20px;
  }
  
  .subservices-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .subservice-item {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .subservice-icon {
    color: #4caf50;
    margin-right: 8px;
  }
  
  .actions {
    margin-top: 20px;
    text-align: center;
  }
  