<div class="container-fluid py-2">
  <div class="card shadow-sm rounded-4 border-0">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center rounded-top-4"
    >
      <h4 class="mb-0 fw-semibold">Add Material</h4>
      <i
        class="fa fa-filter filter-toggle-icon"
        (click)="toggleFilter()"
        title="Toggle Filters"
        style="cursor: pointer"
      ></i>
    </div>

    <div class="card-body" *ngIf="showFilter">
      <form [formGroup]="materialForm" (ngSubmit)="submitForm()">
        <div class="row g-3 mb-4">
          <div class="col-md-4">
            <label class="form-label fw-medium text-primary"
              >Material Category</label
            >
            <select
              class="form-select rounded-3"
              formControlName="materialCategory"
              (change)="onCategoryChange($event)"
            >
              <option value="">Select Category</option>
              <option *ngFor="let cat of categories" [value]="cat.category">
                {{ cat.category }}
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label fw-medium">Material Sub-Category</label>
            <select
              class="form-select rounded-3"
              formControlName="materialSubCategory"
              (change)="onSubCategoryChange($event)"
            >
              <option value="">Select Subcategory</option>
              <option *ngFor="let sub of subCategories" [value]="sub">
                {{ sub }}
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label fw-medium">Brand</label>
            <select class="form-select rounded-3" formControlName="brand">
              <option value="">Select Brand</option>
              <option *ngFor="let b of brands" [value]="b">{{ b }}</option>
            </select>
          </div>
        </div>

        <div formArrayName="materials">
          <div
            *ngFor="let mat of materials.controls; let i = index"
            [formGroupName]="i"
            class="p-3 mb-3 border rounded-3 shadow-sm bg-light"
          >
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h6 class="mb-0 fw-semibold text-primary">
                Material {{ i + 1 }}
              </h6>
              <div class="d-flex gap-2">
                <button
                  type="button"
                  class="btn btn-success btn-sm rounded-circle"
                  (click)="addRow()"
                >
                  +
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm rounded-circle"
                  (click)="removeRow(i)"
                >
                  -
                </button>
              </div>
            </div>

            <div class="row g-3">
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="Model No"
                  formControlName="modelNo"
                />
              </div>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="Model Name"
                  formControlName="modelName"
                />
              </div>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="SKU"
                  formControlName="sku"
                />
              </div>
            </div>

            <div class="row g-3 mt-2">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="Description"
                  formControlName="description"
                />
              </div>
              <!-- <div class="col-md-6">
                <input
                  type="file"
                  class="form-control rounded-3"
                  (change)="onFileSelected($event, i)"
                />
              </div> -->
            </div>
            <div class="row g-2 align-items-center mt-2">
              <div class="col-md-2">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="Shape"
                  formControlName="shape"
                />
              </div>

              <div class="col-md-2">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control rounded-start-3"
                    placeholder="Width"
                    maxlength="3"
                    formControlName="width"
                  />
                  <span
                    class="input-group-text rounded-end-3 bg-light text-muted small"
                  >
                    In cm
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control rounded-start-3"
                    placeholder="Length"
                    maxlength="3"
                    formControlName="length"
                  />
                  <span
                    class="input-group-text rounded-end-3 bg-light text-muted small"
                  >
                    In cm
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control rounded-start-3"
                    placeholder="Size"
                    formControlName="size"
                  />
                  <span
                    class="input-group-text rounded-end-3 bg-light text-muted small"
                  >
                    In cm
                  </span>
                </div>
              </div>

              <div class="col-md-2">
                <input
                  type="text"
                  class="form-control rounded-3"
                  placeholder="Thickness"
                  maxlength="3"
                  formControlName="thickness"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 text-end">
          <button type="submit" class="btn btn-primary px-4 rounded-3">
            <i class="bi bi-plus-circle me-1"></i> Add Material
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
