h1, h2, h3 {
    color: #2c3e50;
  }
  .hh{
    margin-top: 100px;
    margin: auto;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    margin: 0 0 1em 1.5em;
  }
  
  a {
    color: #2980b9;
  }
  .privacy-policy {
    padding: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }