
.card-custom .card-img-top {
  width: 50%;
  /* margin: 0 auto; */
  display: block;
}
.icon {
  margin-right: 8px;
  color: #007bff; /* Text Primary Color */
}
.badge-custom {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 0.75rem;
}
.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  
  .circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .circle {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  font-size: 30px;
  font-weight: 600;
  }
  
  .circle span {
  font-size: 1.2em;
  }

.heading-small {
  font-size: 0.875rem;
}

.card-title-custom {
  position: relative;
  padding-right: 150px;
}

/* app.component.css */

.card {
  background-color: #ffffff; /* Light gray background */
  border: 2px solid #b3d8b4;
}

.card-body {
  padding: 15px; /* Add padding */
}

.card-title {
  margin-bottom: 15px; /* Space below the title */
}

.text-info {
  color: #17a2b8; /* Bootstrap info color */
}
.bg-light-green {
  background-color: #90EE90;
  border-left:5px solid blue;
}
.service-name-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px; /* Increase the margin for more space between items */
  background-color: #eee;
  font-weight: 600;
  padding: .6rem;
  border-radius: 40px;
}

.service-name-item .badge {
  padding: 10px 20px; /* Adjust the padding for more space inside the badge */
  white-space: nowrap; /* Prevent text from wrapping */
}
.content{
  top:170px !important;
  position: relative;
}

.custom-btn {
  background-color: #0033a0; ;
  border-color:  #0033a0; ;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.custom-btn:hover {
  color: #0033a0;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
/* Add the following styles to your CSS file */

.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.card-body {
  flex: 1;
}

.img-container {
  text-align: center;
}

@media (max-width: 767px) {
  .col-md-4.sticky {
    height: auto;
    overflow: visible;
  }
}

.service-header {
    background: #0033a0;
    color: white;
    padding: 20px 25px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.service-header h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    line-height: normal;
}


.service-value {
    color: #0033a0;
    font-size: 1rem;
}

.service-holders{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-holder-name{
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0033a0;
}

.service-card-body.collapsed {
  display: none;
}

.service-card-body {
  height: 60vh;
  overflow: auto;
  transition: .3s ease-out;
  padding: 10px;
}

.service-card-body .service-cards {
  border-radius: 4px;
}

.service-card-body.collapsed {
  max-height: 0;
  padding: 0;
}

.service-toggle{
  border: 0;
  background-color: #ffffff00;
  color: #fff;
  font-size: 1rem;
}

.service-provider-list .heading-small{
}

.service-provider-list .heading-small i {
    padding: 8px;
    color: #0033a0;
    width: fit-content;
}

.provider-info {
    color: #000000;
    margin-right: 5px;
    font-weight: 700;
}

.service-holder-img {
    width: 70%;
    height: 15ch;
}