body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.form-and-services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
}

.form-container {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aucformTitle {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.form-scrollable-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

mat-checkbox {
  margin-right: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #18aedf;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1294c7;
}

.selected-services {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-and-services-container {
    flex-direction: column;
  }
}
