.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.main-container {
  background-color: #f0f0f0;
  padding: 20px;
  height: 100%;
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0, 0, 0, 0.075);
}

table th {
  color: #fff;
  background-color: #5a5c69;
  border-color: #6c6e7e;
}

table {
  border-radius: 5%;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-right-primary {
  border-right: 0.25rem solid #4e73df !important;
}

.serv_req_box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card-container {
  height: 30%;
}

.table-container {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  border: 1px solid #ddd;
}

.pagination::ng-deep .ngx-pagination .current {
  background: brown;
}

.pagination .form-select {
  margin-right: 1rem;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pagination-text {
  font-size: 14px;
  color: #777;
  margin: 0;
  font-weight: 600;
}

#recordsPerPage {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ddd;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

#recordsPerPage::-ms-expand {
  display: none;
}

.form-label {
  font-size: 0.85rem;
  font-weight: 500;
}

.table th {
  white-space: nowrap;
}

.nav-tabs .nav-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-tabs .nav-link.active {
  border-bottom: 3px solid #ffffff;
  margin-bottom: -5px;
}

.card {
  border-radius: 10px;
}

.tab-content {
  border: 2px solid #0d6efd;
  padding: 10px;
  border-radius: 0 6px 6px 6px;
}

label.form-label {
    text-align: left;
    width: 100%;
}