.login-form {
    border-radius: 6px 6px 6px 6px;
    border: none;
    background: #f5f5f5;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    height: 70%;
    margin-top: 30px;
    padding-right: 30px;

}

.card:hover {
    box-shadow: 0 0 20px rgba(24, 174, 223, 0.6);
    transition: box-shadow 0.3s;
}

li {
    list-style-type: none;
    padding: 0px;
}

h4,
h2 {
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
}

p {
    color: black;
}

.dotted-list li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.aucformTitle {
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.container {
    position: relative;
    top: 40px;
}